<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes that make your day</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>


    <div class="backgound-container">

        <div class="jokes-container">
            <img src="./images/Dad-jokes.png"/>

            
            <div class="setup-container">
                <p class="setup-joke">
                    <%= setup%>
                </p>

            </div>

            <div class="punchline-container">
                <p class="punchline-joke">
                    <%= punchline%>
                </p>

            </div>


        </div>


    </div>
</body>

</html>